{{ $schedule := $.Site.Data.schedule.schedule}}
{{ $events := $.Site.Data.events.events}}
<h2>Timetable</h2>
<br>

<table class="timetable">
    <thead>
        {{ range $schedule.headings }}
        <th>{{ . }}</th>
        {{ end }}
    </thead>
    <tbody>
        {{ range $row_index, $row := $schedule.rows }}
        <tr>
            {{ range $col_index, $data := $row }}
                {{ if $data.id }}
                  {{ $event:= index $events $data.id }}
            <td id="{{ $data.id }}-tab" class="{{ $event.type }}">
                <a href="#{{ $data.id }}-det">{{ $event.display }}</a>
                {{ else }}
            <td class="{{ $data.type }}">
                    {{ $data.display }}
                {{ end }}
            </td>
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>
