{{ $schedule := $.Site.Data.schedule.schedule}}
<table>
    <thead>
        {{ range $schedule.headings }}
        <th>{{ . }}</th>
        {{ end }}
    </thead>
    <tbody>
        {{ range $row_index, $row := $schedule.rows }}
        <tr>
            {{ range $col_index, $data := $row }}
            {{ if ge $col_index 1 }}
            {{ $id := print "D" (sub $col_index 1) "T" $row_index }}
            <td id="{{ $id }}" class="{{ $data.type }}">
            {{ else }}
            <td class="{{ $data.type }}">
            {{ end }}
                {{ if $data.URL }}
                <a href="{{$data.URL}}">{{ $data.display }}</a>
                {{ else }}
                {{ $data.display }}
                {{ end }}
            </td>
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>
